@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Purple Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f1a; /* matches your dark modal */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7c3aed, #a855f7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(130, 69, 236, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9333ea, #c084fc);
}

html, body {
  overflow-x: hidden;
}
